html,body{
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: "微软雅黑","PingFangSC-Regular","PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB",Arial,sans-serif;
	font-size: 14px;
	color: #333;
}

p,ul,li,h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: normal;
}

ul,li{
    padding: 0;
    list-style: none;
}
img{
	display: block;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
#app{
    height:100%;
}
/*左浮动*/
.fl {
    float: left;
}
/*右浮动*/
.fr {
    float: right;
}
/*清除浮动*/
.clearfix:after {
    content: ".";
    display: block;
    width: 100%;
    height: 0;
    font-size: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

/* 输入框input类型为number时，去掉上下箭头方式 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
*{
    box-sizing: border-box;
}