.el-table{
    color: #000;
}
.table{
    margin-top: 30px;
    .el-table td{
        // padding: 10px 0;
        border-bottom:1px solid #F5F5F5;
        font-size: 13px;
    }
    .el-table th{
        color:@gray;
        font-size:14px;
        font-weight: normal;
        border-bottom:1px solid #F5F5F5;
        font-family: Gilroy-Medium;
    }
    .el-table tbody tr:hover>td {
        background: #FBFBFC
    }
    .blue:hover{
        color: #0E52AC;
    }
    .normal:hover{
        color: #0E52AC;
    }
    .el-table::before{
        height: 0;
    }
    .no-break{
      word-break: normal;
    }
}
.gray-area{
    .table{
        .el-table{
            background: #FBFBFC;
        }
        .el-table td{
            background: #FBFBFC;
        }
        .el-table th{
            background: #FBFBFC;
        }
        .el-table tbody tr:hover>td {
            background: #f5f5f5
        }
    }
    .el-table__empty-block{
        background: #FBFBFC;
    }
}
.el-table__body{
  table-layout: fixed !important;  //解决safari部分表格错乱问题
}
