.table{
    margin-top: 24px;
    .el-table td{
        padding: 10px 0;
        border-bottom:1px solid #F5F5F5;
    }
    .el-table th{
        color:@gray;
        font-size:14px;
        font-weight: normal;
        border-bottom:1px solid #F5F5F5;
    }
    .el-table tbody tr:hover>td {
        background: #FBFBFC
    }
}